/* @import url("/assets/Flexo-Font/stylesheet.css"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --black: #000000;
  --light-grey: #eaeaea;
  --violence: #ce1628;
  --dark-grey: #acacac;
}
html {
  scroll-behavior: smooth;
}
/* body{
font-family: 'Flexo' ;
}  */
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.site-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
/* --utilities-- */
.flex {
  display: flex;
  position: relative;
}
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.t-center {
  text-align: center;
}
/* left section */
.sidenav {
  width: 250px;
  float: left;
  background-color: var(--light-grey);
  height: initial;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo {
  margin-bottom: 34px;
}
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.social-icons {
  gap: 10px;
  margin: 10px 6px;
  align-items: baseline;
}
.nav-ul li {
  line-height: 42px;
  border-bottom: 1px solid var(--dark-grey);
  font-size: 20px;
}
.nav-ul li a {
  color: var(--black);
}
.privacy-policy {
  height: 100px;
  margin-top: 100px;
}
.toggle_sidenav {
  position: absolute;
  left: 15%;
  top: 16px;
  background: var(--violence);
  padding: 5px 8px;
  color: var(--white);
  cursor: pointer;
}
/* right section */
.main-content {
  width: 100%;
  /* padding: 0 34px; */
  background-color: var(--white);
}
/* background-image: linear-gradient(
      107.57deg,
      rgba(0, 0, 0, 0.6) 21.24%,
      rgba(0, 0, 0, 0) 51.83%
    ),
    url("/assets/images/banner-1.png"); */
.hero-banner {
  background-color: #0000008f;
  background-image: url("/assets/images/banner-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 450px;
  margin: 50px 0;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.wh {
  width: 650px;
  margin: 0 auto;
}
.hero-banner h1 {
  color: var(--white);
  width: 55%;
  text-transform: uppercase;
}
.hero-right-col {
  width: 45%;
  position: relative;
}
.graph-col {
  width: 50%;
}
.temp-details {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--violence);
}
.temp-alert {
  background: var(--white);
  margin: 10px;
  width: 200px;
  padding: 14px;
  border-radius: 25px 0px 25px 25px;
}
.temp-alert-inner p {
  font-weight: 600;
  line-height: 22px;
}
.temp-alert-inner img {
  display: block;
  margin-top: 2px;
}
.img-group-tab {
  background-image: url(/assets/images/p.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  width: 330px;
  height: 330px;
  text-align: center;
  border: 2px solid var(--violence);
  border-radius: 50%;
  position: relative;
}
.img-group-inner {
  position: absolute;
  width: 384px;
  right: -28px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inner-2 {
  flex-direction: column;
  height: 386px;
  bottom: -30px;
}
.scroll-sec {
  max-height: 324px;
  overflow-y: auto;
  padding: 80px 0;
}
.activeclass {
  background: var(--violence);
  border-radius: 30px;
}
::-webkit-scrollbar {
  width: 2px;
}
.active-tab {
  color: var(--white);
  background: var(--violence);
}
#tab-2,
#tab-3 {
  padding: 170px;
}
.img-group-inner img {
  background: var(--white);
  position: relative;
}
.img-group-inner img::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ce1628;
  top: 0;
}
.process-row {
  margin: 70px 0;
}
.process-col {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.why-choose {
  background: #58595b;
  color: var(--white);
  padding: 60px 20px;
  margin: 60px 0;
}
.choose-row {
  gap: 20px;
  margin-top: 30px;
  align-items: baseline;
  justify-content: center;
}
.choose-col {
  width: 24%;
  text-align: center;
  padding: 10px;
}
.choose-col h4 {
  font-size: 20px;
  line-height: 50px;
}
.choose-col p {
  line-height: 25px;
  font-size: 18px;
}
.choose-col .header-img {
  margin-bottom: 15px;
}
.heading h2 {
  text-transform: uppercase;
  line-height: 40px;
  font-size: 30px;
  margin-bottom: 10px;
}
.why-choose h2 {
  color: var(--white);
}
.real-time-data {
  position: relative;
}
.info-row {
  gap: 78px;
  margin: 20px 0;
  padding: 40px 40px 70px 40px;
  border: 2px dashed red;
}
.info-col {
  gap: 10px;
}
.tabs-row {
  background: white;
  padding: 0 70px;
  gap: 40px;
  position: absolute;
  top: 232px;
  left: 50%;
  transform: translate(-50%, 50%);
}
button {
  background: #ededee;
  width: 216px;
  padding: 10px;
  line-height: 28px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  background: var(--violence);
  color: var(--white);
}
.supply-chain {
  padding: 70px 0;
  width: 49%;
}
.supply-chain .header-img img {
  border: none;
  border-radius: 50%;
  background: #f6f6f7;
  padding: 20px;
}
h3 {
  font-size: 22px;
  line-height: 44px;
  margin: 15px 0;
}

.supply-chain p {
  max-width: 500px;
  line-height: 25px;
  font-size: 18px;
}
.banner-white {
  margin: 50px 0;
}
.banner-white img {
  width: 100%;
}
.tech-row {
  gap: 4%;
  margin: 56px 0;
}
.tech-col {
  width: 47%;
  padding: 0px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 446px;
  gap: 20px;
  border: 1px solid red;
  border-radius: 5px;
  background: #f6f6f7;
  outline: 13px solid #f6f6f7;
}
.tech-col p,
.process-col p {
  line-height: 25px;
  font-size: 18px;
}
.tech-col h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--violence);
}
.process-col h6 {
  font-size: 20px;
  color: var(--violence);
  line-height: 40px;
  position: relative;
}
#analysis h6::before {
  content: "01";
  position: absolute;
  top: -20px;
  line-height: 0px;
  font-size: 62px;
  color: #f7f7f7;
}
#customization h6::before {
  content: "02";
  position: absolute;
  top: -20px;
  line-height: 0px;
  font-size: 62px;
  color: #f7f7f7;
}
img.analysis-img {
  background: var(--violence);
  padding: 12px;
  border-radius: 50%;
}
.tech-table {
  margin-bottom: 60px;
}
table {
  border-collapse: collapse;
  width: 85%;
}
tr {
  border: 1px solid #ededee;
  text-align: center;
}
th,
td {
  padding: 13px 52px;
}
tr:nth-child(odd) {
  background: #f7f7f7;
}
.tech-table-img {
  width: 15%;
  text-align: center;
  height: 447px;
}
.tech-table-img div {
  border: 1px solid #ededee;
}
.sticker {
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tagg {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.case-row {
  margin-top: 50px;
  column-gap: 22px;
}
.case-col {
  width: 32.5%;
}
.case-col h5 {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 10px;
}
.header-banner {
  height: 284px;
  object-fit: cover;
  width: 384px;
}
.case-col a {
  font-size: 18px;
  line-height: 32px;
  color: var(--violence);
  font-weight: 700;
}
.contact {
  background: var(--violence);
  padding: 40px 0;
  margin-top: 60px;
  color: var(--white);
}
.contact p {
  line-height: 25px;
  font-size: 18px;
  color: var(--white);
}
.form {
  width: 75%;
  margin: 24px auto;
}
form input {
  color: var(--white);
  background: transparent;
  border: 1px solid var(--white);
  width: 32%;
  padding: 12px;
  margin-bottom: 20px;
}
.form-inp {
  column-gap: 2%;
  flex-wrap: wrap;
}
::placeholder {
  color: var(--white);
}
textarea {
  width: 100%;
  background: transparent;
  border: 1px solid var(--white);
  padding: 10px;
  height: 80px;
}
.submit {
  background: black;
  color: white;
  padding: 10px 106px;
  font-size: 18px;
}
.checks {
  width: 22px;
  height: 22px;
  margin-right: 4px;
}
.check-b {
  margin-top: 10px;
}
.footer-container {
  padding: 0 34px;
  color: var(--white);
}
footer {
  background: #58595b;
  width: 100%;
  padding: 30px 0;
}
.heading-footer h3 {
  margin: 0;
}
.footer-form {
  gap: 30px;
}

.footer-form ul {
  border-left: 1px solid var(--white);
  height: 110px;
  width: 19%;
  padding-left: 14px;
}

.foot-form {
  width: 33%;
}
.foot-form .flex {
  gap: 10px;
  flex-wrap: wrap;
}
.footer-form .partner {
  list-style: none;
}
.foot-form input {
  background: var(--white);
  color: var(--black);
  margin-bottom: 10px;
  width: 48%;
}
.foot-form input::placeholder {
  color: var(--black);
}
.foot-form .submit {
  padding: 10px 63px;
  display: inline-block;
}
.foot-chk input {
  width: 24px;
  height: 24px;
}
.flex.foot-chk {
  margin-top: 20px;
  gap: 4px;
}
.ul-wrap {
  width: 66%;
  margin-top: 50px;
  gap: 10px;
}
.ul-wrap ul {
  width: 25%;
}
.ul-wrap ul li {
  padding-bottom: 8px;
}
.heading-footer {
  margin-bottom: 10px;
}
/* checboxes tick cross*/
td.check-in {
  position: relative;
}
.the-checkbox {
  appearance: none;
  position: absolute;
  top: 50%;
  left: 74px;
  transform: translateY(-50%);
  background-color: #ce1628;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0px;
  outline: none;
  transition: background-color 0.5s;
}
.the-checkbox:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #ffffff;
  width: 18px;
  height: 4px;
  border-radius: 40px;
  transition: all 0.5s;
}

.the-checkbox:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #ffffff;
  width: 18px;
  height: 4px;
  border-radius: 40px;
  transition: all 0.5s;
}
.the-checkbox:checked {
  background-color: #89bd3b;
}
.the-checkbox:checked:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(-4px, 4px) rotate(45deg);
  background-color: #ffffff;
  width: 7px;
  height: 3px;
  border-radius: 40px;
}

.the-checkbox:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translate(2px, 3px) rotate(-45deg);
  background-color: #ffffff;
  width: 14px;
  height: 3px;
  border-radius: 40px;
}

/* -----media query------*/
@media screen and (min-device-width: 1201px) and (max-device-width: 1600px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  .container {
    width: 1000px;
  }
}
@media screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .container {
    width: 740px;
  }
  .hero-banner h1 {
    width: 42%;
  }
  .hero-right-col {
    width: 58%;
  }
  .tech-col {
    padding: 0px 20px;
  }
  .tech-table {
    overflow-x: scroll;
  }
  .process-col {
    width: 50%;
  }
  .choose-row {
    flex-wrap: wrap;
  }
  .choose-col,
  .case-col {
    width: 48%;
  }
  .case-row {
    row-gap: 30px;
    flex-wrap: wrap;
  }
  .header-banner {
    height: 270px;
    width: 360px;
  }
  .case-col h5 {
    margin-bottom: 5px;
  }
  .form {
    width: 90%;
  }
  form input {
    width: 49%;
  }
  footer {
    padding-left: 70px;
  }
  .footer-form {
    flex-wrap: wrap;
  }
  .foot-form,
  .ul-wrap {
    width: 100%;
  }
  .foot-form input {
    width: 44%;
  }
  input.checks {
    width: 20px;
  }
}
@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
  .choose-row,
  .process-row,
  .case-row,
  .tech-row,
  #tab-1,
  .hero-banner,
  .info-row,
  .check-b,
  .footer-form,
  .ul-wrap,
  .tech-table {
    flex-wrap: wrap;
  }
  .choose-col,
  .process-col,
  .case-col,
  .tech-col,
  .supply-chain,
  .hero-banner h1,
  .hero-right-col,
  form input,
  .foot-form,
  .ul-wrap,
  .tech-table-img,
  .table {
    width: 100%;
  }
  .tech-table-img {
    display: flex;
    align-items: center;
    height: 150px;
  }
  .tech-table-img div {
    width: 50%;
    height: 150px;
  }
  .info-row {
    gap: 40px;
    padding: 20px 10px 254px 10px;
    justify-content: space-around;
  }
  .info-col {
    width: 30%;
  }
  .supply-chain {
    padding: 40px 0;
  }
  .tabs-row {
    flex-direction: column;
    padding: 0 30px;
  }
  .submit {
    display: inline-block;
    padding: 10px 112px;
    margin-top: 15px;
  }
  .foot-chk p {
    width: 80%;
  }
  .ul-wrap {
    margin-top: 20px;
    justify-content: space-between;
  }
  .ul-wrap ul {
    width: 40%;
  }
  .heading h2 {
    line-height: 36px;
    font-size: 24px;
    width: 320px;
    margin: 0 auto;
  }
  .tech-row {
    row-gap: 20px;
    margin: 40px 0;
  }
  .why-choose {
    padding: 40px 10px;
    margin: 40px 0;
  }
  .form {
    width: 90%;
  }
  .tech-col {
    padding: 0px 10px;
  }
  .process-row {
    margin: 40px 0;
  }
  .img-group-tab {
    width: 310px;
    height: 310px;
  }
  .img-group-inner {
    width: 337px;
    right: -20px;
  }
  .inner-2 {
    height: 363px;
    bottom: -22px;
  }
  .case-row {
    row-gap: 30px;
  }
  .foot-logo {
    width: 48%;
  }
  h3 {
    line-height: 30px;
  }
}
